
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/Content/PicshareStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>

    <script type="text/javascript" src="~/Scripts/Helpers/ajaxHelper.js"></script>
    @*<script type="text/javascript" src="~/Scripts/require.js" data-main="scripts/startup"></script>*@
    <script type="text/javascript" src="~/Scripts/ViewModels/mainViewModel.js"></script>
    
    @RenderSection("Scripts")

    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="hands topHands"></header>    
        @*@RenderSection("Body")*@
    @RenderBody()
    <footer class="hands bottomHands"></footer>
</body>
</html>
