@model PicShare.Models.PicshareUser
@{
    ViewBag.Title = $"{Model.UserName} board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @{
        var loadingId = Guid.NewGuid();
    }
    <div class="row" id="@loadingId">
        <div class="text-center">
            <span><span class="fa fa-spinner fa-spin"></span>  <b>Loading ...</b></span>
        </div>
    </div>


    <user-board params="{ userName: '@(Model.UserName)', userId: '@(Model.Id)', loadingId:'@(loadingId)' }" />
</div>