@model PicShare.Models.PicshareUser
@{
    ViewBag.Title = $"{Model.UserName} details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/userStartup.js"></script>
    <script>
        require(['/Scripts/userStartup.js']);
    </script>
    
}

<div class="container">

    <loading data-bind="visible: isVisible"></loading>

    <user-board params="{ userName: '@(Model.UserName)', userId: '@(Model.Id)' }" />
</div>