@{
    Layout = null;
}

<div class="row">
    <!-- ko if: (currentBoard() === boardType.ownPictures || currentBoard() === boardType.NaN) -->
    <button class="col-md-2 btn btn-info pull-left board-control-btn" title="Pictures shared with you" data-bind="click: retreiveSharedPictures">
        <span class="glyphicon glyphicon-picture"></span><span>  </span><b>Shared with you</b>
    </button>
    <!-- /ko -->
    <!-- ko if: (currentBoard() === boardType.sharedPictures) -->
    <button class="col-md-2 btn btn-info pull-left board-control-btn" title="Your own pictures" data-bind="click: retrieveUserBoard">
        <span class="glyphicon glyphicon-picture"></span><span>  </span><b>Your own pictures</b>
    </button>
    <!-- /ko -->

    <button class="col-md-1 btn btn-info pull-right board-control-btn" title="Visit your own page" data-bind="click: goToUserDetail">
        <span class="glyphicon glyphicon-user"></span><span>  </span><b data-bind="text: userName"></b>
    </button>

    <button class="col-md-1 btn btn-info pull-right board-control-btn" title="Add new picture" data-bind="click: addNewPicture">
        <span class="glyphicon glyphicon-picture"></span><span>  <b>Add</b></span>
    </button>
</div>

<!-- ko if: isUploadFormVisible -->
<br />
<div class="row">
    <file-uploader params="{imgUploaded: imgUploaded, userId: userId}"></file-uploader>
</div>
<!-- /ko -->

<br />
<div data-bind="foreach: pictures">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="posted-img">
                <h4 class="col-md-10 h4 text-center" data-bind="text: title" />
                <!-- ko if: ($parent.currentBoard() === $parent.boardType.ownPictures || $parent.currentBoard() === $parent.boardType.NaN) -->
                <button class="col-md-2 btn btn-info pull-right" title="Share with ..." data-bind="click: $parent.shareWith">
                    <span><span class="glyphicon glyphicon-share" /> <b>share</b></span>
                </button>
                <!-- /ko -->
                <img class="img-thumbnail" data-bind="attr: {alt: title, src: url }" />
                <div>comments</div>
                <!-- ko if: ($parent.currentBoard() === $parent.boardType.sharedPictures) -->
                <form data-bind="submit: $data.saveComment">
                    <div class="form-group">
                        <label>Comment this picture:</label>
                        @*<div class="input-group">*@
                            <textarea rows="2" class="form-control" data-bind="textInput: $data.newCommentText" resize="none"></textarea>
                            <button type="submit" class="btn btn-success" title="Save comment">
                                <!-- ko if: $data.isSavingComment -->
                                <i class="fa fa-spinner fa-spin"></i>
                                <!-- /ko -->
                                <!-- ko ifnot: $data.isSavingComment -->
                                <i class="glyphicon glyphicon-send"></i>
                                <!-- /ko -->
                            </button>
                        @*</div>*@
                    </div>
                </form>
                <!-- /ko -->
            </div>
        </div>
        <!-- ko if: ($parent.currentBoard() === $parent.boardType.ownPictures || $parent.currentBoard() === $parent.boardType.NaN) -->
        <div class="col-md-3 hidden" data-bind="attr: {id: id}">
            <div class="row">
                <form data-bind="submit: $parent.searchUser">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="user name" data-bind="textInput: $parent.searchingUserName" />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-success" title="Search">
                                <!-- ko if: $parent.isSearching -->
                                <i class="fa fa-spinner fa-spin"></i>
                                <!-- /ko -->
                                <!-- ko ifnot: $parent.isSearching -->
                                <i class="glyphicon glyphicon-search"></i>
                                <!-- /ko -->
                            </button>                            
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <button class="btn btn-success pull-right" title="Share" 
                        data-bind="visible: $parent.foundUsers().length > 0, css: {disabled: $parent.selectedUsers().length == 0}, click: $parent.sendShareRequest">
                    <!-- ko if: $parent.isSharing -->
                    <i class="fa fa-spinner fa-spin"></i>
                    <!-- /ko -->
                    <!-- ko ifnot: $parent.isSharing -->
                    <i class="glyphicon glyphicon-share-alt"></i>
                    <!-- /ko -->
                </button>
                <form>
                    <div class="found-user-list" data-bind="foreach: $parent.foundUsers">
                        <div class="checkbox">
                            <input data-bind="checked: isSelected" type="checkbox" />
                            <label data-bind="text: name"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>

