@{
    Layout = null;
}

<div class="row">

    <button class="col-md-1 btn btn-info pull-right board-control-btn" title="Visit your own page" data-bind="click: goToUserDetail">
        <span class="glyphicon glyphicon-user"></span><span>  </span><b data-bind="text: userName"></b>
    </button>

    <button class="col-md-1 btn btn-info pull-right board-control-btn" title="Add new picture" data-bind="click: addNewPicture">
        <span class="glyphicon glyphicon-picture"></span><span>  <b>Add</b></span>
    </button>
</div>

<!-- ko if: isUploadFormVisible -->
<br />
<div class="row">
    <file-uploader params="{imgUploaded: imgUploaded, userId: userId}"></file-uploader>
</div>
<!-- /ko -->

<br />
<div class="row">
    <div data-bind="foreach: pictures">
        <div class="col-md-8 col-md-offset-2">
            <div class="posted-img">
                <h4 class="h4 text-center" data-bind="text: title" />
                <img class="img-thumbnail" data-bind="attr: {alt: title, src: url }" />
                <div>comments</div>
            </div>
        </div>
    </div>
</div>
