<template id="register-template">
    <div class="row">
        <form class="col-md-4" data-bind="submit: register">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" data-bind="textInput: name" required/>
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="password" data-bind="textInput: password" required/>
            </div>
            <input type="submit" class="btn btn-default" value="Send" />
        </form>
    </div>    
</template>
