<template id="register-template">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name"/>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input class="form-control" id="pass"/>
        </div>
        <input type="submit" class="btn btn-default"/>
    </form>
</template>
