<template id="welcome-template">    
    <div class="row">
        <h3 class="col-md-8 col-md-offset-2 h3" data-bind="text: unregisteredUserText"></h3>
        <a class="col-md-2 btn btn-info" data-bind="click: register">R E G I S T E R</a>
    </div>
    <br />
    <div class="row">
        <h3 class="col-md-8 col-md-offset-2 h3" data-bind="text: registeredUserText"></h3>
        <a class="col-md-2 btn btn-info" data-bind="click: login">L O G I N</a>
    </div>
</template>
