body {
    padding: 0px;  
}

.hands {
    height: 200px;
    background-image: url(hands01.jpg);
    background-size: 400px;
    background-repeat: repeat-x;
}

    .hands.topHands {
        transform: rotate(180deg);
    }

.error{
    color: red;
}

.error input{
    border: 2px solid red;
}

.bar {
    background: #269abc;
    height: 100%;
}

.board-control-btn {
    margin-right: 7px;
}

.posted-img {
    border: solid #269abc 1px;
    padding: 4px;
}

.checkbox input[type=checkbox] {
    margin-left: 0px;
}